.app {
  height: 100vh;
  min-height: 100vh;
  width: 100%;
}

/* !!!!!!!!! THIS IS LOGIN PAGE STYLE !!!!!!!!! */

/* .home_div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
} */

.login_div,
.reg_div {
  height: 100vh;
}

.login_inp_div,
.login_div,
.login_form,
.login_btn_div,
.login_nav_div,
.login_title,
.reg_div,
.reg_form_div,
.reg_title,
.reg_inp_div,
.reg_btn_div,
.reg_nav_div,
.home_category_select_div,
.category_div {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.login_div > h2 {
  color: #7d7d7d;
}
.login_inp_div,
.reg_inp_div {
  gap: 5px;
}

.login_form,
.reg_form_div {
  align-items: normal;
  padding: 70px 100px;
  background-color: #ffffffcb;
  border-radius: 10px;
  gap: 15px;
  box-shadow: 5px 7px 15px rgba(0, 0, 0, 0.37);
}

.login_inp_div > input,
.reg_inp_div > input {
  background-color: #d9e3ec;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 5px;
  color: #7d7d7d;
  font-size: 18px;
  transition: 0.5s border;
}
.login_inp_div > input:hover,
.reg_inp_div > input:hover {
  border: 1px solid #427db0;
}

.login_btn_div,
.reg_btn_div {
  gap: 5px;
  align-items: normal;
}
.login_btn_div > button,
.reg_btn {
  font-size: 18px;
  color: white;
  transition: 0.5s;
}
.login_btn_div > button:hover,
.reg_btn:hover {
  background-color: #427db0;
}
.login_nav_div > p,
.reg_nav_div > p {
  margin: 0;
  font-size: 14px;
}

/* !!!!!!!!! THIS IS LOGIN PAGE STYLE !!!!!!!!! */

/* !!!!!!!!! THIS IS CHAT PAGE STLYE !!!!!!!!! */

.chat_header_div,
.font_reg_div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chat_header_div {
  padding: 0 10px;
}
.font_reg_btn {
  background-color: transparent;
  color: #7d7d7d;
}

.change_room_btn {
  background-color: transparent;
  color: #7d7d7d;
  font-size: 28px;
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.change_room_btn:hover {
  color: white;
  background-color: #000000;
  box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.178);
}

.chat_div {
  gap: 10px;
  display: flex;
  height: 95vh;
  max-height: 95vh;
  flex-direction: column;
  padding: 10px 50px 50px 50px;
}

.input_box {
  border-top: 1px solid rgb(138, 138, 138);
  display: flex;
}
.input_box > input {
  border: none;
  color: black;
  font-size: 16px;
  padding: 0px 10px;
  width: 100%;
  background-color: transparent;
  color: #525252;
  border-left: none;
  border-bottom: none;
}
.input_box > button {
  border-radius: 0px;
  background-color: #427db0;
  border-top: 1px solid transparent;
  border-radius: 8px;
}
.chat_box_div {
  /* box-shadow: 5px 7px 15px rgba(0, 0, 0, 0.37); */
  height: 100%;
  /* border: 1px solid rgb(151, 151, 151); */
  display: flex;
  flex-direction: column;
  width: 100%;
}

.chat_content_div {
  height: 95vh;
  padding: 10px;
  width: 100%;
  overflow-y: auto;
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
}
.chat_content_div > ul {
  display: flex;
  flex-direction: column;
  /* align-items: end; */
  width: 100%;
}
.message_div {
  margin-top: 15px;
  display: flex;
  gap: 15px;
  align-items: center;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

.own_message {
  align-items: center;
  align-self: flex-end;
}
.other_message {
  align-self: flex-start;
}
.message_text_div {
  padding: 15px 25px 15px 10px;
  border-radius: 8px;
  box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.178);
  border: 1px solid rgb(180, 180, 180);
}
.date_msg {
  font-size: 11px;
  opacity: 0;
  transition: 0.2s;
}
.message_div:hover {
  .date_msg {
    opacity: 0.8;
  }
}
.Ala_div {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.Choose_div,
.Chat_div {
  flex: 1;
  height: 100%;
}
.Chat_div {
  flex: 3;
  background-color: #d9e3ec;
  border-left: 1px solid rgba(90, 90, 90, 0.164);
  box-shadow: 1px 5px 15px rgba(0, 0, 0, 0.178);
}
/* CHOOSE SECTION */
.Choose_div {
  display: flex;
  flex-direction: column;
  padding: 50px 15px 20px 15px;
  gap: 10px;
  justify-content: space-between;
  background-color: #427db0;
  /* box-shadow: 5px 1px 15px rgba(0, 0, 0, 0.178); */
}
.Category_select_div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: white;
}
.Category_select_div > button {
  background-color: #fff;
  color: black;
}
.Category_div {
  cursor: pointer;
  padding: 5px;
  border: 1px solid transparent;
  width: 100%;
  text-align: center;
  border-radius: 8px;
  transition: 0.2s;
}
.Category_div:hover {
  background-color: #8baece;
  color: white;
  box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.178);
}
.Active_category {
  background-color: #c8d4df;
  color: rgb(0, 0, 0);
  border: 1px solid rgba(0, 0, 0, 0.027);
  box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.178);
}
.Option_div {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.Option_div > * {
  width: 100%;
}
.Error_div {
  text-align: center;
}

/* REMINDER SECTION */

.Reminder_div {
  height: 100%;
  gap: 20px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Reminder_content_div {
  gap: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Reminder_up_div {
  display: flex;
  height: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.nav_icons {
  display: flex;
  gap: 10px;
}
.nav_icons > a {
  cursor: pointer;
  color: rgba(134, 134, 134, 0.87);
  transition: 0.2s color;
}

.nav_icons > a:hover {
  color: rgb(110, 110, 110);
}

.title_div {
  display: flex;
  text-align: center;
  font-size: 28px;
}
.title_div > h1 {
  text-align: center;
}
.logout_btn {
  color: white;
}
@media screen and (max-width: 860px) {
  .Ala_div {
    flex-direction: column;
  }
  .Option_div {
    flex-direction: row;
  }
  .Choose_div {
    padding-top: 15px;
  }
  .chat_div {
    padding: 10px 0;
    padding-bottom: 20px;
    height: 90vh;
  }
  .chat_box_div {
    border-top: 1px solid #7d7d7d79;
  }
  .Reminder_div {
    padding: 50px 15px;
  }
  .change_room_btn:hover {
    background-color: transparent;
    color: #7d7d7d;
    box-shadow: none;
  }
  .login_form,
  .reg_form_div {
    padding: 70px 50px;
  }
}
